/* Global Style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: normal;
}

h4,
h5 {
  font-size: 2.8rem;
}

a {
  color: white;
  text-decoration: none;
}

button {
  padding: 2rem 6rem;
  background: rgb(97, 97, 241);
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  /* transition: all 1s ease-in-out 2s (delay); */
  transition: background 1s ease-in-out;
  /* alternate: back and forth, 2s = delay */
  /* forwards 는 infinite 대신에 처음으로 돌아가서 */
  /* animation: cloudAnimation 2s forward; */
  /* animation: cloudAnimation 2s infinite alternate 2s; */
  /* only 3 times */
  /* animation-iteration-count: 3; */
}

button:hover {
  background: #4c7e97;
  /* font-size: 2.6rem; */
}

/* Nav Section with Hero */

.main-head {
  background: #131c27;
  color: white;
  position: sticky;
  top: 0px;
  z-index: 1000;
}

nav {
  display: flex;
  /* width: 90%;
  margin: auto; */
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  /* 이거 테스트 해보기 */
  flex-wrap: wrap;
}

/* flex 1 1 40rem 을 해줌으로써 nav ul 랑 #logo랑 1:1로 나눠 가지기 */
nav ul {
  display: flex;
  /* grow shrink basis */
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
}

/* MID NAV SECTION */
.float-nav {
  position: fixed;
  right: 0rem;
  top: 50%;
  z-index: 1;
}

.float-nav a button {
  font-size: 1rem;
  max-width: 1px;
  text-align: center;
  margin: 2px 0rem;
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
}

/* .hero */
.hero {
  min-height: 90vh;
  /* 위로 갈수록 어두워지도록 설정 */
  /* 밑으로 갈수록 투명해지도록 */
  /* 
  background: linear-gradient(rgba(0, 0, 0, 0.1), transparent),
  */
  background: linear-gradient(rgba(0, 0, 0, 0.9), transparent),
    url("/img//landing-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h3 {
  padding: 5rem;
}

/* Locations Section */
#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), transparent),
    url(./img/new-york-page.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  /* cloud absolute 때문에 */
  position: relative;
  /* 구름 튀어나가는 거 방지 */
  overflow: hidden;
}

.locations-head {
  width: 90%;
  margin: auto;
}

.locations-head h2 {
  padding: 1rem 0rem;
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
}

.locations-head h3 {
  padding: 4rem 0rem;
  background: linear-gradient(#072e58, #663b34);
  /* Background only on text */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
  animation: cloudAnimation 3s infinite alternate ease-in-out;
}

.moving-cloud-1 {
  z-index: -1;
}

.moving-cloud-2 {
  top: 20%;
  z-index: -2;
  opacity: 0.5;
}

@keyframes cloudAnimation {
  from {
    transform: translate(10%, -10%);
  }

  to {
    transform: translate(0%, 0%);
  }
}

/* @keyframes cloudAnimation {
  0% {
    background: lightblue;
  }

  25% {
    background: rgb(35, 98, 119);
  }

  100% {
    background: rgb(99, 35, 119);
  }
} */

/* @keyframes cloudAnimation {
 from {

 } 

 to {

 }
} */

/* Benefits section */
.benefits-head {
  background: #343c44;
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.benefits-head h3 {
  padding: 1rem;
}

.cards {
  min-height: 70vh;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 30rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.cards img {
  max-width: 15%;
  margin: 2rem;
}

.card h4,
.card p {
  padding: 1rem;
  line-height: 2;
}

.card-icon {
  background: #27394e;
}

/* Contact Form Section */
#contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), transparent),
    url("./img/contact-mountain.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  background: rgba(19, 28, 39, 0.8);
  width: 60%;
  color: white;
  border-radius: 20px;
}

.form-head {
  text-align: center;
  padding: 4rem;
}

.form-wrapper label {
  margin: 0rem 3rem;
}

.form-wrapper button {
  width: 100%;
  padding: 2rem;
  margin-top: 8rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.form-wrapper input {
  padding: 1rem 3rem;
}

.name-form,
.email-form {
  padding: 3rem;
  text-align: center;
}

/* footer section */
footer {
  color: white;
  background: rgba(19, 28, 39, 1);
}

.footer-wrapper {
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 10vh;
  flex-wrap: wrap;
}

footer h5 {
  flex: 1 1 40rem;
}

footer ul {
  display: flex;
  list-style: none;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}

button:focus {
  background: #2c3f57;
  outline-style: solid;
}

/* Media Query */
@media screen and (max-width: 932px) {
  html {
    font-size: 45%;
  }

  nav {
    text-align: center;
  }

  #logo {
    padding: 2rem;
  }

  .cloud {
    pointer-events: none;
  }

  .moving-cloud-1 {
    z-index: -1;
  }

  .moving-cloud-2 {
    z-index: -2;
  }

  .locations-head h3 {
    font-weight: 1000;
    -webkit-text-fill-color: white;
  }

  .form-wrapper {
    width: 100%;
  }

  footer {
    text-align: center;
  }

  footer h5 {
    padding-bottom: 3rem;
  }
}
